LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)

ARCHS = $(ARCHS_STANDARD)
VALID_ARCHS = i386 x86_64 armv7 arm64

ENABLE_BITCODE = NO
OTHER_CFLAGS = $(inherited) -fembed-bitcode

OTHER_LDFLAGS = $(inherited) -ObjC

INFOPLIST_FILE = TCDemo/TCDemo-Info.plist
WRAPPER_EXTENSION = app
GCC_PRECOMPILE_PREFIX_HEADER = YES

IPHONEOS_DEPLOYMENT_TARGET = 7.1

PRODUCT_NAME = $(TARGET_NAME)
